<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <nav th:fragment="navigate">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>
                    <a href="/products">Все Продукты</a>
                </li>
                <li>
                    <a href="/addproduct">Добавить продукт</a>
                </li>
                <li>
                    <a href="/order/create">Создать заказ</a>
                </li>
            </ul>
        </nav>
    </body>
</html>