<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <nav th:fragment="positions-list">
            <table border="1"  id="position-list" class="table">
                <thead>
                    <tr>
                        <th><h1></h1></th>
                        <th><h1></h1></th>
                        <th><h1>Сколько</h1></th>
                        <th><h1>Куда</h1></th>
                    </tr>
                </thead>
                <tr th:each="position : ${positions}">
                    <td><img th:src="@{${position.product.img}}" class="product-img"/></td>
                    <td th:text="${position.product.name}"></td>
                    <td th:text="${position.quantity}"></td>
                    <td th:text="${position.consumer}"></td>
                </tr>

            </table>
        </nav>
    </body>
</html>