@charset "UTF-8";

/* RESET */
*, :after, :before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* COMMON */

/* LOGIN */

/* ДАЛЕЕ РАЗБЕРЕМСЯ... */
