<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Создание заказа</title>
        <style>
            .product-img{
                max-width: 140px;
                max-height: 140px;
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <div th:insert="~{fragments/navigate :: navigate}"></div>

        <div th:if="${message != null}" th:text="${message}" >Создание заказа</div>
        <form th:action="@{/order/create}" method="post" >
            <button type="submit" >Подтвердить заказ</button>
        </form>
        <table border="1">
            <thead>
                <tr>
                    <th><h1>Корзина</h1> 
                        <form th:action="@{/order/clear}" method="post">

                            <button type="submit" >Очистить список</button>
                        </form>

                    </th>
                    <th><h1>Все продукты</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table border="1"  >
                            <thead>
                                <tr>
                                    <th><h1></h1></th>
                                    <th><h1></h1></th>
                                    <th><h1>кг</h1></th>
                                    <th><h1>*</h1></th>
                                </tr>
                            </thead>
                            <tr th:each="position : ${positions}">
                                <td><img th:src="@{${position.product.img}}" class="product-img"/></td>
                                <td th:text="${position.product.name}"></td>
                                <td th:text="${#numbers.formatDecimal(position.quantity, 1, 3)}" ></td>
                                <td th:text="${position.consumer}"></td>
                                <td>
                                    <form th:action="@{/order/deletePosition}" method="post" th:object="${position}">
                                        <input type="hidden" name="id" th:value="${position.id}">

                                        <button type="submit" >Удалить</button>
                                    </form>
                                </td>
                            </tr>

                        </table>

                    </td>
                    <td>
                        <table border="1">
                            <tr th:each="product : ${products}">
                                <td>
                                    <img th:if="${product.img != null}" 
                                         th:src="@{${product.img}}" 
                                         alt="Фото продукта" 
                                         class="product-img">
                                    <span th:unless="${product.img != null}">Нет фото</span>
                                </td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.packing}"></td>
                                <td> 
                                    <form th:action="@{/order/add}" method="post" th:object="${position}">

                                        <input type="hidden" name="productId" th:value="${product.id}">

                                        <div><label>кг</label></div>
                                        <input type="number" name="quantity" step="0.001" style="width: 80px;" required>

                                        <select   
                                            th:field="*{consumer}" >
                                            <option value="">*</option>
                                            <option th:each="consumer : ${consumers}" 
                                                    th:value="${consumer}" 
                                                    th:text="${consumer}">
                                            </option>
                                        </select>


                                        <button type="submit" >Добавить</button>
                                    </form>



                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>





        <div th:insert="~{fragments/footer-fragment :: footer-fragment}"></div>

    </body>
</html>