<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" th:href="@{/css/execute_order.css}">
        <link rel="stylesheet" th:href="@{/css/product_search_fragment.css}">
    </head>
    <body>
        <div th:insert="~{fragments/navigate :: navigate}"></div>
        <div th:replace="~{fragments/product_search_fragment :: product_search_fragment}"></div>

        <div>
            <form th:action="@{${searchAction}}" method="get" class="search-form">


                <select class="form-control-mobile" id="purchaseStatus" name="purchaseStatus">
                    <option value="all">Все</option>
                    <option value="purchased">Куплено</option>
                    <option value="notPurchased">Не куплено</option>
                </select>

                <button type="submit" class="search-btn">поиск</button>
            </form>
        </div>
        <div class="amount">
            <span th:text="'Сумма заказа: ' + (${purchaseAmount} != null ? ${purchaseAmount} : '0')"></span><span class="rubSymbl" th:text=" ' ₽'"></span>
            
            <div th:each=" purchaseAmount : ${purchaseAmounts}">
                <span class="class" th:text="${purchaseAmount.consumer + ' - ' + purchaseAmount.amount}"></span>
                <span class="rubSymbl" th:text="₽"></span>
            </div>

        </div>

        <div class="positions-container">

            <div class="position-card" th:style="${position.purchased} ? 'background-color: #CCFFCC;' : 'background-color: white'"  th:each="position : ${positions}">

                <div class="position-content">

                    <div class="position-image-container">
                        <img th:src="@{${position.product.img}}" class="position-image" 
                             th:alt="${position.product.name}" 
                             onerror="this.style.display='none'">
                    </div>


                    <div class="position-info">
                        <a th:href="@{/pricehistory(id=${position.product.id}, name=${position.product.name}, img=${position.product.img}, returnUrl=${returnUrl})}">
                            <div class="product-name" 
                                 th:text="${position.product.name}">
                            </div>
                            <div class="product-name" 
                                 th:text="${position.product.variety}">
                            </div>
                        </a>
                        <div class="product-country" 
                             th:text="${position.product.country}">
                        </div>
                        <div class="position-quantity">
                            <b th:text="${position.quantity + ' кг'}"></b>
                        </div>
                        <div class="position-consumer" 
                             th:text="${position.consumer}" 
                             th:if="${position.consumer != null}">
                        </div>
                    </div>


                    <div class="position-form">

                        <form th:action="@{/execute/update(orderId=${orderId})}" method="post" th:object="${position}">
                            <input type="hidden" name="id" th:value="${position.id}">
                            <input type="hidden" name="orderId" th:value="${orderId}">

                            <div class="form-grid">
                                <div class="input-group">
                                    <span class="input-label">Цена/кг ₽</span>
                                    <input type="number" name="buyingPrice"  placeholder="руб/кг" 
                                           th:value="${position.buyingPrice != null} ? ${position.buyingPrice} : ''">
                                </div>

                                <div class="input-group">
                                    <span class="input-label">Вес кг</span>
                                    <input type="number" name="purchasedQuantity" step="0.001" placeholder="Вес кг" required
                                           th:value="${position.purchasedQuantity > 0} ? ${position.purchasedQuantity} : ''">
                                </div>

                                <div class="input-group">
                                    <span class="input-label">Сумма ₽</span>
                                    <input type="number" name="purchaseAmount" placeholder="Сумма"
                                           th:value="${position.purchaseAmount != null} ? ${position.purchaseAmount} : ''">
                                </div>
                            </div>
                            <button type="submit" class="save-btn">Сохранить</button>
                        </form>

                        <div class="clear-container">

                            <form th:action="@{/execute/switch_checkbox}" method="post" th:object="${position}">
                                <input type="hidden" name="id" th:value="${position.id}">
                                <button type="submit" class="clear">🗙</button>
                            </form>
                        </div>        
                    </div>
                </div>
            </div>
        </div>


        <div th:insert="~{fragments/footer-fragment :: footer-fragment}"></div>
    </body>
</html>
