<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" th:href="@{/css/execute_order.css}">
        <link rel="stylesheet" th:href="@{/css/product_search_fragment.css}">
    </head>
    <body>
        <div th:insert="~{fragments/navigate :: navigate}"></div>
        <div th:replace="~{fragments/product_search_fragment :: product_search_fragment}"></div>

        <div>
            <form th:action="@{${searchAction}}" method="get" class="search-form">


                <select class="form-control-mobile" id="purchaseStatus" name="purchaseStatus">
                    <option value="all">Все</option>
                    <option value="purchased">Куплено</option>
                    <option value="notPurchased">Не куплено</option>
                </select>

                <button type="submit" class="search-btn">поиск</button>
            </form>
        </div>

        <div >
            <div  th:each="position : ${positions}">


                <div >

                    <img th:src="@{${position.product.img}}" style="max-width: 200px; max-height: 150px;"  th:alt="${position.product.name}" >

                    <div  th:text="${position.product.name + ' ' + position.product.variety + ' '+ position.product.country}"></div>
                    <div  th:text="${position.quantity}"></div>
                    <div  th:text="${position.consumer}"></div>
                    <div  th:text="${position.purchased}"></div>
                    <div  th:text="${position.purchaseAmount}">rr</div>
                    <form th:action="@{/execute/switch_checkbox}" method="post"  >
                        <input type="hidden" name="id" th:value="${position.id}">
                        <div >
                            <input  type="checkbox" 
                                    th:checked="${position.purchased}"
                                    onchange="this.form.submit()">
                        </div>
                    </form>


                    <form th:action="@{/execute/update(orderId=${orderId})}" method="post" th:object="${position}">
                        <input type="hidden" name="id" th:value="${position.id}">
                        <input type="hidden" name="orderId" th:value="${orderId}">
                        <div >

                            <input type="number" name="buyingPrice"  placeholder="Цена руб/кг" 
                                   th:value="${position.buyingPrice != null} ? ${position.buyingPrice} : ''">
                            <span >Цена руб/кг</span>

                        </div>
                        <div >

                            <input type="number" name="purchasedQuantity" step="0.001" placeholder="Вес кг" required
                                   th:value="${position.purchasedQuantity > 0} ? ${position.purchasedQuantity} : ''">
                            <span>Вес кг</span>
                        </div>
                        <div >
                            <input type="number" name="purchaseAmount" placeholder="Сумма"
                                   th:value="${position.purchaseAmount != null} ? ${position.purchaseAmount} : ''">
                            <span>Сумма</span>
                        </div>



                        <button type="submit" >Сохранить</button>
                    </form>


                </div>











            </div>
        </div>


        <div th:insert="~{fragments/footer-fragment :: footer-fragment}"></div>
    </body>
</html>