<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <script src="script.js"></script>
        <title>Список продуктов  background: linear-gradient(#f7f7e9, #f8f4f9, #ecedfa);</title>
        

    </head >
    <body >

        <main> 
            <div >
                <div th:insert="~{fragments/navigate :: navigate}"></div>
            </div>
        </main>
        <footer ></footer>

    </body>


</html>